In [2]:
%load_ext sql

In [1]:
!pip install ipython-sql==0.4.1
!pip install SQLAlchemy==1.4.47
!pip install --upgrade snowflake-sqlalchemy

Requirement already satisfied: ipython-sql==0.4.1 in /usr/local/lib/python3.10/dist-packages (0.4.1)
Requirement already satisfied: prettytable<1 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (2.0.30)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (67.7.2)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.19.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.43)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.9.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (3.0.3)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.13)
Collecting SQLAlchemy==1.4.47
  Downloading SQLAlchemy-1.4.47-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 16.2 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.47) (3.0.3)
Installing collected packages: SQLAlchemy
  Attempting uninstall: SQLAlchemy
    Found existing installation: SQLAlchemy 2.0.30
    Uninstalling SQLAlchemy-2.0.30:
      Successfully uninstalled SQLAlchemy-2.0.30
Successfully installed SQLAlchemy-1.4.47
Collecting snowflake-sqlalchemy
  Using cached snowflake_sqlalchemy-1.5.3-py3-none-any.whl (42 kB)
Collecting snowflake-connector-python<4.0.0 (from snowflake-sqlalchemy)
  Using cached snowflake_connector_python-3.10.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.5 MB)
Requirement already satisfied: sqlalchemy<2.0.0,>=1.4.19 in /usr/local/lib/python3.10/dist-packages (from snowflake-sqlalchemy) (1.4.47)
Collecting asn1crypto<2.0.0,>0.24.0 (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy)
  Downloading asn1crypto-1.5.1-py2.py3-none-any.whl (105 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 105.0/105.0 kB 2.6 MB/s eta 0:00:00
Requirement already satisfied: cffi<2.0.0,>=1.9 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (1.16.0)
Requirement already satisfied: cryptography<43.0.0,>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (42.0.7)
Requirement already satisfied: pyOpenSSL<25.0.0,>=16.2.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (24.1.0)
Requirement already satisfied: pyjwt<3.0.0 in /usr/lib/python3/dist-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (2.3.0)
Requirement already satisfied: pytz in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (2023.4)
Requirement already satisfied: requests<3.0.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (2.31.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (24.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (3.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (2024.2.2)
Requirement already satisfied: typing-extensions<5,>=4.3 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (4.11.0)
Requirement already satisfied: filelock<4,>=3.5 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (3.14.0)
Requirement already satisfied: sortedcontainers>=2.4.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (2.4.0)
Requirement already satisfied: platformdirs<5.0.0,>=2.6.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (4.2.1)
Collecting tomlkit (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy)
  Downloading tomlkit-0.12.5-py3-none-any.whl (37 kB)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy<2.0.0,>=1.4.19->snowflake-sqlalchemy) (3.0.3)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (2.22)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0->snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (2.0.7)
Installing collected packages: asn1crypto, tomlkit, snowflake-connector-python, snowflake-sqlalchemy
Successfully installed asn1crypto-1.5.1 snowflake-connector-python-3.10.0 snowflake-sqlalchemy-1.5.3 tomlkit-0.12.5

In [3]:
%sql snowflake://yonggu:*****@npygtrw-jn32477/DEV

In [4]:
%%sql
SHOW SCHEMAS;
--여기까지 실행

 * snowflake://yonggu:***@npygtrw-jn32477/DEV
5 rows affected.
(snowflake.connector.errors.ProgrammingError) 000900 (42601): SQL compilation error:
Empty SQL statement.
[SQL: --여기까지 실행]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
%%sql
--발전량
CREATE TABLE raw_data.generation_output (
    period VARCHAR(7),
    region VARCHAR(10),
    nuclear INT,
    bituminous_coal INT,
    sub_bituminous_coal INT,
    petroleum INT,
    LNG INT,
    reversible_pumping INT,
    fuel_cells INT,
    coal_gasification INT,
    solar INT,
    wind INT,
    hydro INT,
    ocean INT,
    bioenergy INT,
    waste INT,
    others INT,
    total INT
);

 * snowflake://yonggu:***@npygtrw-jn32477/DEV
(snowflake.connector.errors.ProgrammingError) 002002 (42710): SQL compilation error:
Object 'RAW_DATA.GENERATION_OUTPUT' already exists.
[SQL: CREATE TABLE raw_data.generation_output (
    period VARCHAR(7),
    region VARCHAR(10),
    nuclear INT,
    bituminous_coal INT,
    sub_bituminous_coal INT,
    petroleum INT,
    LNG INT,
    reversible_pumping INT,
    fuel_cells INT,
    coal_gasification INT,
    solar INT,
    wind INT,
    hydro INT,
    ocean INT,
    bioenergy INT,
    waste INT,
    others INT,
    total INT
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
%%sql
SHOW TABLES IN SCHEMA raw_data;

 * snowflake://yonggu:***@npygtrw-jn32477/DEV
14 rows affected.

[(datetime.datetime(2024, 5, 15, 7, 6, 56, 364000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'ECONOMY_KPI', 'DEV', 'RAW_DATA', 'TABLE', '', '', 21, 1536, 'ACCOUNTADMIN', '1', 'OFF', 'OFF', 'N', 'N', 'ROLE', 'N', None, 'N', 'N', 'N'),
 (datetime.datetime(2024, 5, 13, 0, 45, 36, 937000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'ELECTRIC_POWER_DEMAND', 'DEV', 'RAW_DATA', 'TABLE', '', '', 1112429, 20750336, 'ACCOUNTADMIN', '1', 'OFF', 'OFF', 'N', 'N', 'ROLE', 'N', None, 'N', 'N', 'N'),
 (datetime.datetime(2024, 5, 13, 23, 42, 59, 419000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'GENERATION_OUTPUT', 'DEV', 'RAW_DATA', 'TABLE', '', '', 268, 10752, 'ACCOUNTADMIN', '1', 'OFF', 'OFF', 'N', 'N', 'ROLE', 'N', None, 'N', 'N', 'N'),
 (datetime.datetime(2024, 5, 14, 22, 3, 58, 871000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'HUMIDITY', 'DEV', 'RAW_DATA', 'TABLE', '', '', 76700, 575488, 'ACCOUNTADMIN', '1', 'OFF', 'OFF', 'N', 'N', 'ROLE', 'N', None, 'N', 'N', 'N'),
 (datetime.datetime(2024, 5, 14, 23, 10, 43, 782000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'LOCAL_ORDER_TABLE', 'DEV', 'RAW_DATA', 'TABLE', '', '', 10, 1536, 'ACCOUNTADMIN', '1', 'OFF', 'OFF', 'N', 'N', 'ROLE', 'N', None, 'N', 'N', 'N'),
 (datetime.datetime(2024, 5, 10, 2, 13, 43, 168000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'NPS', 'DEV', 'RAW_DATA', 'TABLE', '', '', 157757, 1164800, 'ACCOUNTADMIN', '1', 'OFF', 'OFF', 'N', 'N', 'ROLE', 'N', None, 'N', 'N', 'N'),
 (datetime.datetime(2024, 5, 14, 22, 3, 59, 93000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'RAINFALL', 'DEV', 'RAW_DATA', 'TABLE', '', '', 76700, 290304, 'ACCOUNTADMIN', '1', 'OFF', 'OFF', 'N', 'N', 'ROLE', 'N', None, 'N', 'N', 'N'),
 (datetime.datetime(2024, 5, 14, 3, 29, 34, 352000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'SELLING_ELECTRICITY', 'DEV', 'RAW_DATA', 'TABLE', '', '', 21, 4608, 'ACCOUNTADMIN', '1', 'OFF', 'OFF', 'N', 'N', 'ROLE', 'N', None, 'N', 'N', 'N'),
 (datetime.datetime(2024, 5, 14, 0, 16, 20, 910000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'SELLING_PRICE', 'DEV', 'RAW_DATA', 'TABLE', '', '', 29, 4096, 'ACCOUNTADMIN', '1', 'OFF', 'OFF', 'N', 'N', 'ROLE', 'N', None, 'N', 'N', 'N'),
 (datetime.datetime(2024, 5, 8, 23, 11, 15, 147000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'SESSION_TIMESTAMP', 'DEV', 'RAW_DATA', 'TABLE', '', '', 101520, 3751424, 'ACCOUNTADMIN', '1', 'OFF', 'OFF', 'N', 'N', 'ROLE', 'N', None, 'N', 'N', 'N'),
 (datetime.datetime(2024, 5, 8, 23, 11, 14, 726000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'SESSION_TRANSACTION', 'DEV', 'RAW_DATA', 'TABLE', '', '', 996, 33280, 'ACCOUNTADMIN', '1', 'OFF', 'OFF', 'N', 'N', 'ROLE', 'N', None, 'N', 'N', 'N'),
 (datetime.datetime(2024, 5, 14, 22, 3, 59, 254000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'TEMPERATURE', 'DEV', 'RAW_DATA', 'TABLE', '', '', 76700, 443392, 'ACCOUNTADMIN', '1', 'OFF', 'OFF', 'N', 'N', 'ROLE', 'N', None, 'N', 'N', 'N'),
 (datetime.datetime(2024, 5, 8, 23, 11, 14, 958000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'USER_SESSION_CHANNEL', 'DEV', 'RAW_DATA', 'TABLE', '', '', 101520, 3403264, 'ACCOUNTADMIN', '1', 'OFF', 'OFF', 'N', 'N', 'ROLE', 'N', None, 'N', 'N', 'N'),
 (datetime.datetime(2024, 5, 15, 4, 36, 25, 814000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'WIND_SPEED', 'DEV', 'RAW_DATA', 'TABLE', '', '', 76700, 804352, 'ACCOUNTADMIN', '1', 'OFF', 'OFF', 'N', 'N', 'ROLE', 'N', None, 'N', 'N', 'N')]

In [ ]:
%%sql
--발전량 벌크업데이트
COPY INTO dev.raw_data.generation_output
FROM 's3://yonggu-practice-bucket/project_2nd/jiwon_part/generation_output.csv'
credentials=(AWS_KEY_ID='{}' AWS_SECRET_KEY='{}')
FILE_FORMAT = (type='CSV' skip_header=1 FIELD_OPTIONALLY_ENCLOSED_BY='"');

 * snowflake://yonggu:***@npygtrw-jn32477/DEV
1 rows affected.

[('s3://yonggu-practice-bucket/project_2nd/jiwon_part/generation_output.csv', 'LOADED', 268, 268, 1, 0, None, None, None, None)]

In [ ]:
%%sql

SELECT * FROM raw_data.generation_output LIMIT 10;

 * snowflake://yonggu:***@npygtrw-jn32477/DEV
10 rows affected.

[('2024/04', '합계', 13651, 15443, 156, 371, 27381, 4, 0, 63, 0, 0, 502, 0, 249, 0, 43, 57863),
 ('2024/03', '합계', 14704, 17672, 134, 374, 29026, 2, 0, 199, 0, 0, 208, 0, 255, 0, 48, 62622),
 ('2024/02', '합계', 13952, 21413, 141, 416, 29488, 6, 0, 188, 0, 0, 175, 0, 248, 0, 54, 66082),
 ('2024/01', '합계', 14417, 23802, 247, 452, 32866, 0, 0, 201, 0, 0, 152, 0, 262, 0, 58, 72456),
 ('2023/12', '합계', 15352, 22772, 133, 439, 30738, 9, 0, 198, 0, 0, 209, 0, 283, 0, 58, 70192),
 ('2023/11', '합계', 14843, 19729, 77, 379, 25368, 3, 0, 199, 0, 0, 173, 0, 254, 0, 24, 61050),
 ('2023/10', '합계', 14451, 18972, 186, 445, 22068, 8, 0, 207, 0, 0, 221, 0, 264, 0, 4, 56826),
 ('2023/09', '합계', 14312, 20418, 259, 503, 26317, 5, 0, 200, 0, 0, 371, 0, 253, 0, 37, 62675),
 ('2023/08', '합계', 15106, 24593, 218, 512, 29716, 14, 0, 204, 0, 0, 340, 0, 275, 0, 39, 71017),
 ('2023/07', '합계', 14450, 24366, 134, 523, 29230, 11, 0, 116, 0, 0, 600, 0, 273, 0, 39, 69742)]

In [ ]:
%%sql
-- adhoc.generation_output_grouprenewables
-- 신재생 에너지 row들 합치기
CREATE TABLE adhoc.generation_output_grouprenewables AS
SELECT period,
  nuclear, bituminous_coal, sub_bituminous_coal,petroleum, lng,
  reversible_pumping + fuel_cells + coal_gasification + solar +
  wind + hydro + ocean + bioenergy + waste AS renewables,
  others, total
FROM raw_data.generation_output;

 * snowflake://yonggu:***@npygtrw-jn32477/DEV
1 rows affected.

[('Table GENERATION_OUTPUT_GROUPRENEWABLES successfully created.',)]

In [ ]:
%%sql
SELECT * FROM  adhoc.generation_output_grouprenewables
ORDER BY 1 DESC;

 * snowflake://yonggu:***@npygtrw-jn32477/DEV
268 rows affected.

[('2024/04', 13651, 15443, 156, 371, 27381, 818, 43, 57863),
 ('2024/03', 14704, 17672, 134, 374, 29026, 664, 48, 62622),
 ('2024/02', 13952, 21413, 141, 416, 29488, 617, 54, 66082),
 ('2024/01', 14417, 23802, 247, 452, 32866, 615, 58, 72456),
 ('2023/12', 15352, 22772, 133, 439, 30738, 699, 58, 70192),
 ('2023/11', 14843, 19729, 77, 379, 25368, 629, 24, 61050),
 ('2023/10', 14451, 18972, 186, 445, 22068, 700, 4, 56826),
 ('2023/09', 14312, 20418, 259, 503, 26317, 829, 37, 62675),
 ('2023/08', 15106, 24593, 218, 512, 29716, 833, 39, 71017),
 ('2023/07', 14450, 24366, 134, 523, 29230, 1000, 39, 69742),
 ('2023/06', 13483, 20221, 120, 431, 24181, 455, 32, 58923),
 ('2023/05', 13767, 18011, 61, 494, 24135, 413, 37, 56919),
 ('2023/04', 12942, 15959, 30, 531, 24783, 355, 42, 54641),
 ('2023/03', 14491, 15814, 193, 570, 28147, 339, 58, 59612),
 ('2023/02', 12971, 18028, 243, 540, 28080, 377, 52, 60291),
 ('2023/01', 14755, 21142, 267, 597, 31271, 489, 58, 68578),
 ('2022/12', 14511, 21805, 269, 581, 31577, 574, 58, 69374),
 ('2022/11', 13352, 18780, 137, 471, 25938, 424, 36, 59137),
 ('2022/10', 13701, 18964, 194, 260, 23572, 502, 39, 57232),
 ('2022/09', 13433, 20308, 163, 477, 26266, 885, 37, 61569),
 ('2022/08', 15504, 22597, 269, 510, 28470, 1097, 39, 68485),
 ('2022/07', 14608, 22274, 269, 518, 27509, 707, 37, 65921),
 ('2022/06', 14029, 18492, 153, 459, 23019, 468, 37, 56657),
 ('2022/05', 13926, 15433, 251, 453, 22440, 437, 31, 52970),
 ('2022/04', 12760, 13627, 230, 517, 25110, 371, 36, 52650),
 ('2022/03', 13526, 13896, 0, 616, 29319, 342, 50, 57748),
 ('2022/02', 13345, 17850, 0, 586, 28480, 311, 52, 60624),
 ('2022/01', 15354, 20747, 0, 1456, 31605, 377, 56, 69596),
 ('2021/12', 15758, 19102, 0, 1387, 30916, 386, 53, 67602),
 ('2021/11', 12916, 18541, 216, 1369, 25469, 371, 38, 58920),
 ('2021/10', 12806, 16117, 78, 1147, 23886, 405, 39, 54478),
 ('2021/09', 11620, 18273, 44, 1354, 25877, 469, 40, 57678),
 ('2021/08', 12155, 22668, 223, 1371, 28931, 465, 38, 65851),
 ('2021/07', 11717, 22995, 227, 1383, 28408, 550, 38, 65319),
 ('2021/06', 10803, 17937, 134, 1324, 25076, 504, 37, 55816),
 ('2021/05', 12185, 14627, 221, 1397, 25210, 441, 52, 54133),
 ('2021/04', 11974, 12475, 111, 1157, 25276, 424, 53, 51470),
 ('2021/03', 13166, 12504, 132, 1424, 29623, 402, 55, 57308),
 ('2021/02', 12194, 14934, 151, 1287, 27559, 289, 53, 56467),
 ('2021/01', 13401, 18458, 227, 1410, 30955, 298, 58, 64807),
 ('2020/12', 14360, 15309, 209, 1430, 29764, 340, 58, 61470),
 ('2020/11', 13392, 19153, 260, 1307, 25358, 356, 37, 59863),
 ('2020/10', 12881, 20563, 144, 1305, 23120, 380, 39, 58431),
 ('2020/09', 8861, 21864, 224, 1273, 24518, 793, 0, 57533),
 ('2020/08', 11933, 23342, 269, 1331, 28221, 1002, 0, 66097),
 ('2020/07', 13077, 21825, 269, 1344, 28843, 545, 0, 65903),
 ('2020/06', 13417, 19794, 260, 1231, 25063, 378, 0, 60143),
 ('2020/05', 14576, 17769, 198, 1197, 26164, 461, 0, 60365),
 ('2020/04', 13057, 15946, 130, 1060, 25720, 408, 0, 56322),
 ('2020/03', 13794, 12858, 95, 1174, 28906, 420, 0, 57247),
 ('2020/02', 12091, 15343, 195, 1285, 28838, 393, 0, 58145),
 ('2020/01', 11321, 17387, 209, 1606, 30471, 422, 0, 61417),
 ('2019/12', 10519, 17815, 191, 2531, 28522, None, 392, 59970),
 ('2019/11', 9729, 19769, 168, 2089, 24749, None, 332, 56843),
 ('2019/10', 10082, 20846, 134, 1943, 21243, None, 424, 54692),
 ('2019/09', 9817, 22174, 195, 2298, 22962, None, 456, 57907),
 ('2019/08', 11611, 23986, 269, 2564, 26432, None, 480, 65353),
 ('2019/07', 11120, 23435, 269, 2575, 26198, None, 444, 64062),
 ('2019/06', 12944, 19089, 224, 2500, 24670, None, 318, 59750),
 ('2019/05', 14056, 15189, 173, 2340, 23461, None, 376, 55598),
 ('2019/04', 13475, 14348, 191, 2240, 23797, None, 320, 54375),
 ('2019/03', 13375, 15963, 230, 2567, 26541, None, 254, 58933),
 ('2019/02', 10505, 18781, 244, 2625, 24783, None, 137, 57076),
 ('2019/01', 11668, 21965, 269, 2944, 28642, None, 162, 65651),
 ('2018/12', 11838, 21202, 192, 2849, 28347, None, 217, 64648),
 ('2018/11', 11582, 17766, 229, 2521, 24134, None, 185, 56440),
 ('2018/10', 11509, 16621, 269, 2744, 21440, None, 167, 52763),
 ('2018/09', 10542, 20136, 371, 2580, 23212, None, 266, 57117),
 ('2018/08', 12129, 24021, 400, 2777, 23825, None, 212, 63380),
 ('2018/07', 12434, 22425, 381, 2774, 23683, None, 346, 62065),
 ('2018/06', 10792, 17192, 196, 2280, 22587, None, 365, 53419),
 ('2018/05', 10850, 16928, 134, 2408, 21526, None, 408, 52258),
 ('2018/04', 8984, 16566, 119, 2246, 22175, None, 162, 50259),
 ('2018/03', 8799, 19732, 83, 2650, 26206, None, 122, 57600),
 ('2018/02', 8370, 21454, 121, 2450, 24370, None, 142, 56912),
 ('2018/01', 9365, 23391, 135, 2754, 27666, None, 155, 63475),
 ('2017/12', 9948, 21581, 239, 2690, 27347, None, 145, 61961),
 ('2017/11', 10762, 18929, 213, 2043, 24888, None, 137, 56988),
 ('2017/10', 11541, 20924, 334, 2297, 22600, None, 158, 57866),
 ('2017/09', 11743, 21821, 230, 2579, 23050, None, 198, 59631),
 ('2017/08', 11338, 22934, 372, 2677, 23922, None, 482, 61731),
 ('2017/07', 11637, 21846, 273, 2641, 23863, None, 283, 60565),
 ('2017/06', 11901, 17695, 257, 2470, 22352, None, 163, 54844),
 ('2017/05', 13029, 18558, 400, 2185, 20553, None, 190, 54921),
 ('2017/04', 12682, 17249, 454, 2276, 22480, None, 139, 55285),
 ('2017/03', 12553, 19583, 552, 2506, 25120, None, 132, 60454),
 ('2017/02', 11786, 18100, 590, 2456, 22306, None, 118, 55367),
 ('2017/01', 12486, 20777, 661, 2588, 23347, None, 121, 59985),
 ('2016/12', 12012, 20136, 649, 2219, 22974, None, 116, 58629),
 ('2016/11', 9808, 16939, 555, 2334, 20799, None, 116, 50932),
 ('2016/10', 11099, 15774, 438, 2152, 17459, None, 108, 47336),
 ('2016/09', 12078, 16091, 487, 2563, 17143, None, 139, 48910),
 ('2016/08', 13950, 19177, 736, 2477, 19433, None, 218, 56478),
 ('2016/07', 12921, 18388, 729, 2221, 18896, None, 542, 54000),
 ('2016/06', 12360, 16893, 658, 1674, 17658, None, 231, 49567),
 ('2016/05', 13350, 15932, 741, 2102, 17684, None, 274, 50218),
 ('2016/04', 14641, 14135, 633, 2013, 18709, None, 168, 50584),
 ('2016/03', 13925, 15576, 747, 2456, 22423, None, 103, 55753),
 ('2016/02', 13511, 15591, 708, 2400, 21140, None, 53, 53913),
 ('2016/01', 14732, 17473, 748, 2612, 23746, None, 61, 59934),
 ('2015/12', 14517, 17782, 646, 2687, 22755, None, 40, 58932),
 ('2015/11', 14147, 15281, 494, 2623, 18768, None, 49, 51809),
 ('2015/10', 13709, 14779, 438, 2526, 17010, None, 95, 49001),
 ('2015/09', 12185, 15612, 582, 2731, 16837, None, 96, 48550),
 ('2015/08', 12644, 18097, 673, 2808, 18658, None, 102, 53464),
 ('2015/07', 15093, 17820, 731, 2805, 19620, None, 140, 56421),
 ('2015/06', 13117, 15836, 751, 2250, 18089, None, 164, 50224),
 ('2015/05', 12024, 15655, 667, 2146, 17663, None, 213, 48383),
 ('2015/04', 12399, 15311, 609, 2471, 18876, None, 158, 49837),
 ('2015/03', 12443, 16562, 704, 2801, 21320, None, 138, 54289),
 ('2015/02', 11553, 16210, 701, 2569, 19602, None, 137, 50892),
 ('2015/01', 13581, 18268, 763, 2723, 21916, None, 146, 57921),
 ('2014/12', 13063, 17708, 749, 2587, 21018, None, 141, 55800),
 ('2014/11', 11815, 15767, 746, 2432, 17838, None, 134, 49151),
 ('2014/10', 12741, 15207, 575, 2588, 16931, None, 144, 48692),
 ('2014/09', 11759, 14810, 628, 2681, 16371, None, 186, 47012),
 ('2014/08', 13338, 17817, 771, 2797, 17505, None, 197, 52921),
 ('2014/07', 12776, 17797, 760, 2762, 16107, None, 173, 50904),
 ('2014/06', 12045, 16039, 737, 2326, 14278, None, 206, 45923),
 ('2014/05', 13025, 14827, 628, 2168, 13405, None, 199, 44530),
 ('2014/04', 12783, 13781, 654, 2205, 13295, None, 178, 43231),
 ('2014/03', 12127, 15455, 686, 2562, 15017, None, 179, 46619),
 ('2014/02', 11477, 14948, 703, 2579, 15110, None, 161, 45549),
 ('2014/01', 12944, 17022, 768, 3044, 17032, None, 134, 51451),
 ('2013/12', 11400, 16923, 649, 3473, 16847, None, 143, 49937),
 ('2013/11', 11198, 14327, 556, 3144, 14559, None, 152, 44372),
 ('2013/10', 11207, 14050, 548, 3021, 13277, None, 194, 42752),
 ('2013/09', 11159, 15394, 693, 3057, 13519, None, 221, 44463),
 ('2013/08', 11636, 16711, 750, 3377, 14226, None, 477, 47831),
 ('2013/07', 10776, 16910, 732, 3434, 13939, None, 610, 47072),
 ('2013/06', 9362, 15756, 690, 2967, 12286, None, 329, 41907),
 ('2013/05', 10061, 14967, 515, 2639, 12317, None, 337, 41235),
 ('2013/04', 10307, 14046, 605, 2833, 12308, None, 303, 40808),
 ('2013/03', 11516, 16238, 722, 3377, 13450, None, 300, 46090),
 ('2013/02', 10777, 15266, 652, 3157, 12516, None, 283, 43134),
 ('2013/01', 13048, 17032, 773, 3539, 14604, None, 220, 49767),
 ('2012/12', 11815, 16889, 779, 3533, 14036, None, 230, 47797),
 ('2012/11', 10496, 15670, 755, 3074, 11980, None, 215, 42580),
 ('2012/10', 12088, 15211, 709, 2821, 9867, None, 253, 41313),
 ('2012/09', 12741, 15868, 713, 3256, 12120, None, 447, 45400),
 ('2012/08', 13316, 17017, 780, 3421, 12586, None, 465, 47913),
 ('2012/07', 12344, 16368, 773, 3421, 12552, None, 321, 46188),
 ('2012/06', 12186, 14458, 720, 2724, 10960, None, 212, 41622),
 ('2012/05', 11740, 13573, 568, 2796, 10213, None, 307, 39475),
 ('2012/04', 10891, 13000, 583, 3204, 11232, None, 396, 39472),
 ('2012/03', 11919, 15408, 728, 3710, 13147, None, 229, 45391),
 ('2012/02', 11531, 15812, 728, 3470, 13006, None, 180, 44947),
 ('2012/01', 12531, 17099, 782, 3611, 13986, None, 166, 48342),
 ('2011/12', 12314, 17036, 757, 3587, 13724, None, 179, 47782),
 ('2011/11', 11948, 16093, 690, 3444, 12029, None, 135, 44505),
 ('2011/10', 12214, 16561, 697, 3126, 11255, None, 153, 44153),
 ('2011/09', 11489, 15553, 709, 3460, 11620, None, 211, 43365),
 ('2011/08', 13779, 16988, 773, 3748, 12855, None, 754, 49278),
 ('2011/07', 13348, 16980, 765, 3723, 12833, None, 931, 48833),
 ('2011/06', 11709, 14489, 721, 3475, 12059, None, 512, 43104),
 ('2011/05', 12976, 14189, 582, 3639, 11434, None, 569, 43461),
 ('2011/04', 12186, 13564, 635, 3421, 11466, None, 223, 41525),
 ('2011/03', 12523, 15056, 663, 3350, 12456, None, 246, 44351),
 ('2011/02', 11353, 14610, 689, 3189, 12111, None, 217, 42399),
 ('2011/01', 11939, 16787, 694, 3767, 13635, None, 217, 47532),
 ('2010/12', 12449, 16136, 642, 3792, 13185, None, 193, 46456),
 ('2010/11', 12395, 15135, 695, 3202, 11803, None, 197, 43484),
 ('2010/10', 12085, 15262, 763, 3305, 10705, None, 282, 42526),
 ('2010/09', 10460, 16118, 760, 3573, 10832, None, 646, 42714),
 ('2010/08', 12685, 16956, 757, 3975, 11448, None, 393, 46960),
 ('2010/07', 12723, 16708, 753, 3820, 11322, None, 246, 46283),
 ('2010/06', 11893, 14714, 570, 3297, 10749, None, 328, 41866),
 ('2010/05', 12025, 13784, 582, 3422, 10045, None, 380, 40289),
 ('2010/04', 10940, 13830, 686, 3310, 10467, None, 337, 39582),
 ('2010/03', 10837, 15878, 671, 3714, 11112, None, 250, 42484),
 ('2010/02', 10925, 14498, 688, 3549, 10252, None, 136, 40096),
 ('2010/01', 12673, 16702, 767, 3987, 11273, None, 147, 45578),
 ('2009/12', 12393, 16138, 758, 3694, 11281, None, 154, 44462),
 ('2009/11', 10945, 15859, 683, 3464, 10825, None, 121, 42055),
 ('2009/10', 11626, 15854, 574, 3637, 10427, None, 124, 42657),
 ('2009/09', 10818, 16084, 595, 3459, 9993, None, 230, 41802),
 ('2009/08', 12226, 16915, 776, 3989, 11059, None, 514, 46295),
 ('2009/07', 12477, 16680, 786, 3997, 10750, None, 586, 46109),
 ('2009/06', 11851, 15127, 589, 3519, 9961, None, 236, 41975),
 ('2009/05', 12384, 14724, 766, 3658, 10185, None, 192, 42335),
 ('2009/04', 11480, 13741, 678, 3408, 9867, None, 133, 39469),
 ('2009/03', 11835, 14837, 760, 3274, 11368, None, 135, 42330),
 ('2009/02', 10851, 13781, 706, 3242, 10080, None, 121, 38897),
 ('2009/01', 12369, 15000, 778, 3599, 11724, None, 137, 43738),
 ('2008/12', 12678, 14605, 776, 3713, 11615, None, 123, 43600),
 ('2008/11', 11462, 13606, 716, 3691, 10642, None, 132, 40368),
 ('2008/10', 11626, 14167, 648, 3436, 9531, None, 158, 39660),
 ('2008/09', 11118, 14430, 547, 3589, 9647, None, 274, 40023),
 ('2008/08', 12984, 16253, 784, 3963, 10785, None, 548, 46070),
 ('2008/07', 11840, 15730, 775, 3960, 10305, None, 296, 43553),
 ('2008/06', 11485, 14242, 700, 3397, 9211, None, 233, 39607),
 ('2008/05', 11621, 13274, 668, 3410, 9682, None, 254, 38987),
 ('2008/04', 11687, 12378, 755, 3277, 9835, None, 249, 38207),
 ('2008/03', 13181, 12822, 749, 3597, 9807, None, 243, 40412),
 ('2008/02', 12296, 12941, 590, 3488, 9865, None, 143, 39366),
 ('2008/01', 12819, 13594, 784, 4019, 10357, None, 203, 41791),
 ('2007/12', 11973, 14010, 778, 3947, 10603, None, 183, 41500),
 ('2007/11', 11763, 13076, 607, 3353, 9509, None, 223, 38606),
 ('2007/10', 11005, 12296, 708, 3600, 9788, None, 310, 37871),
 ('2007/09', 11258, 12478, 650, 3492, 9135, None, 613, 38029),
 ('2007/08', 12599, 14000, 777, 3760, 9648, None, 617, 42040),
 ('2007/07', 11385, 13633, 693, 3815, 10314, None, 316, 40532),
 ('2007/06', 10454, 11993, 738, 3357, 9514, None, 289, 36494),
 ('2007/05', 11051, 11311, 765, 3383, 9153, None, 274, 35988),
 ('2007/04', 11446, 11008, 758, 3141, 9614, None, 200, 36178),
 ('2007/03', 11769, 11724, 632, 3244, 9819, None, 151, 37358),
 ('2007/02', 10592, 10926, 583, 3178, 9090, None, 119, 34577),
 ('2007/01', 12127, 13051, 789, 3702, 10203, None, 141, 40164),
 ('2006/12', 12063, 12105, 785, 3717, 10191, None, 140, 39164),
 ('2006/11', 11632, 10824, 616, 3626, 9460, None, 142, 36474),
 ('2006/10', 12532, 11859, 510, 3478, 9212, None, 140, 38063),
 ('2006/09', 11940, 11352, 596, 3433, 9041, None, 230, 36943),
 ('2006/08', 13046, 12652, 791, 3823, 9509, None, 698, 40921),
 ('2006/07', 12866, 11878, 768, 3758, 9105, None, 746, 39521),
 ('2006/06', 12054, 10622, 677, 3455, 8218, None, 380, 35595),
 ('2006/05', 11951, 10452, 679, 3465, 9150, None, 230, 35956),
 ('2006/04', 10836, 9941, 750, 3457, 9391, None, 95, 34491),
 ('2006/03', 10715, 10936, 747, 3625, 10236, None, 70, 36342),
 ('2006/02', 11112, 10884, 548, 3497, 9202, None, 57, 35320),
 ('2006/01', 12523, 12257, 775, 3830, 10037, None, 55, 39518),
 ('2005/12', 12184, 11943, 693, 3820, 9473, None, 153, 38275),
 ('2005/11', 11391, 10903, 633, 3625, 9202, None, 155, 35950),
 ('2005/10', 12243, 10854, 626, 3460, 8761, None, 229, 36321),
 ('2005/09', 10955, 10827, 715, 3343, 8504, None, 255, 34730),
 ('2005/08', 12762, 11820, 777, 3819, 9383, None, 305, 39240),
 ('2005/07', 11417, 11942, 689, 3483, 9162, None, 234, 37211),
 ('2005/06', 11275, 10993, 766, 3300, 8313, None, 172, 35086),
 ('2005/05', 12810, 10635, 778, 3283, 8509, None, 150, 36463),
 ('2005/04', 12217, 9894, 759, 3241, 8690, None, 120, 34994),
 ('2005/03', 12181, 9686, 688, 3607, 9538, None, 83, 35784),
 ('2005/02', 10968, 10165, 510, 3374, 8356, None, 80, 33521),
 ('2005/01', 11130, 11163, 575, 3623, 9337, None, 114, 35987),
 ('2004/12', 11922, 11446, 577, 3742, 9108, None, 156, 37059),
 ('2004/11', 10746, 10465, 463, 3396, 8582, None, 176, 33954),
 ('2004/10', 10358, 10907, 503, 3023, 8211, None, 168, 33353),
 ('2004/09', 10852, 10515, 695, 2967, 7743, None, 247, 33399),
 ('2004/08', 12201, 11354, 795, 3662, 8934, None, 412, 37834),
 ('2004/07', 11202, 10830, 711, 3324, 8675, None, 402, 35593),
 ('2004/06', 10420, 9693, 752, 3110, 7941, None, 176, 32341),
 ('2004/05', 10046, 9745, 773, 3249, 8618, None, 155, 32637),
 ('2004/04', 9319, 9593, 672, 3276, 8100, None, 99, 31064),
 ('2004/03', 9857, 10298, 603, 2916, 8735, None, 101, 32518),
 ('2004/02', 9154, 9790, 622, 2675, 8278, None, 115, 30638),
 ('2004/01', 10016, 10636, 745, 3362, 8512, None, 138, 33471),
 ('2003/12', 10924, 10577, 736, 3501, 8177, None, 177, 34176),
 ('2003/11', 10743, 9885, 752, 3351, 7984, None, 158, 33029),
 ('2003/10', 11376, 10006, 663, 3494, 8108, None, 190, 34198),
 ('2003/09', 10270, 9850, 719, 3249, 7522, None, 405, 32390),
 ('2003/08', 11468, 10848, 818, 3418, 8051, None, 321, 35352),
 ('2003/07', 11705, 10816, 779, 3389, 8176, None, 212, 35512),
 ('2003/06', 9099, 10146, 740, 3115, 7102, None, 232, 30765),
 ('2003/05', 8715, 9302, 816, 3517, 7152, None, 240, 29793),
 ('2003/04', 9522, 8865, 817, 2854, 7120, None, 157, 29368),
 ('2003/03', 11131, 9209, 787, 2794, 7780, None, 112, 31842),
 ('2003/02', 9080, 9362, 534, 2879, 6637, None, 105, 28640),
 ('2003/01', 11377, 10632, 830, 3122, 7280, None, 107, 33394),
 ('2002/12', 10631, 10870, 735, 2490, 7743, None, 44, 32565),
 ('2002/11', 8993, 10154, 650, 2263, 7249, None, 47, 29415),
 ('2002/10', 9610, 9714, 690, 2530, 7062, None, 59, 29873),
 ('2002/09', 8855, 10011, 539, 2788, 6785, None, 165, 29454),
 ('2002/08', 10659, 10809, 836, 3186, 7364, None, 187, 33463),
 ('2002/07', 10130, 10744, 819, 3184, 7216, None, 132, 32626),
 ('2002/06', 9778, 10025, 643, 2615, 6720, None, 166, 30261),
 ('2002/05', 9938, 9256, 602, 2797, 5895, None, 106, 28740),
 ('2002/04', 8359, 9631, 559, 2961, 6154, None, 62, 27805),
 ('2002/03', 9825, 9292, 472, 2682, 6692, None, 33, 29073),
 ('2002/02', 9108, 8531, 589, 2566, 6349, None, 63, 27305),
 ('2002/01', 9352, 9832, 839, 2886, 6556, None, 96, 29672)]

In [ ]:
%%sql
-- adhoc.generation_output_year
--연도별 그룹화 && Null 값 0으로 대치 && total은 제거
CREATE TABLE adhoc.generation_output_year AS
SELECT LEFT(period, 4) AS year,
  SUM(nuclear) AS nuclear,
  SUM(bituminous_coal) AS bituminous_coal,
  SUM(sub_bituminous_coal) AS sub_bituminous_coal,
  SUM(petroleum) AS petroleum,
  SUM(lng) AS lng,
  COALESCE(SUM(renewables), 0) AS renewables,  --Null 값 0으로 대치
  SUM(others) AS others
  -- SUM(total) AS total
FROM adhoc.generation_output_grouprenewables
GROUP BY year
ORDER BY 1 DESC;

 * snowflake://yonggu:***@npygtrw-jn32477/DEV
1 rows affected.

[('Table GENERATION_OUTPUT_YEAR successfully created.',)]

In [ ]:
%%sql

SELECT * FROM adhoc.generation_output_year
ORDER BY 1 DESC;

 * snowflake://yonggu:***@npygtrw-jn32477/DEV
23 rows affected.

[('2024', 56724, 78330, 678, 1613, 118761, 2714, 203),
 ('2023', 170923, 240025, 1921, 5964, 324034, 7118, 480),
 ('2022', 168049, 224773, 1935, 6904, 323305, 6495, 508),
 ('2021', 150695, 208631, 1764, 16010, 327186, 5004, 554),
 ('2020', 152760, 221153, 2462, 15543, 324986, 5898, 134),
 ('2019', 138901, 233360, 2557, 29216, 302000, 0, 4095),
 ('2018', 127194, 237434, 2630, 31033, 289171, 0, 2747),
 ('2017', 141406, 239997, 4575, 29408, 281828, 0, 2266),
 ('2016', 154387, 202105, 7829, 27223, 238064, 0, 2129),
 ('2015', 157412, 197213, 7759, 31140, 231114, 0, 1478),
 ('2014', 149893, 191178, 8405, 30731, 193907, 0, 2032),
 ('2013', 132447, 187620, 7885, 38018, 163848, 0, 3569),
 ('2012', 143598, 186373, 8618, 39041, 145685, 0, 3421),
 ('2011', 147778, 187906, 8375, 41929, 147477, 0, 4347),
 ('2010', 142090, 185721, 8334, 42946, 133193, 0, 3535),
 ('2009', 141255, 184740, 8449, 42940, 127520, 0, 2683),
 ('2008', 144797, 168042, 8492, 43540, 121282, 0, 2856),
 ('2007', 137422, 149506, 8478, 41972, 116390, 0, 3436),
 ('2006', 143270, 135762, 8242, 43164, 112752, 0, 2983),
 ('2005', 141533, 130825, 8209, 41978, 107228, 0, 2050),
 ('2004', 126093, 125272, 7911, 38702, 101437, 0, 2345),
 ('2003', 125410, 119498, 8991, 38683, 91089, 0, 2416),
 ('2002', 115238, 118869, 7973, 32948, 81785, 0, 1160)]

In [ ]:
%%sql
-- [최종 테이블]
-- analytics.generation_output_summary
-- 2002년 ~ 2022년 데이터만 추출(시각화)
CREATE TABLE analytics.generation_output_summary AS
SELECT *
FROM adhoc.generation_output_year
WHERE year BETWEEN 2002 AND 2022
ORDER BY year DESC;

 * snowflake://yonggu:***@npygtrw-jn32477/DEV
1 rows affected.

[('Table GENERATION_OUTPUT_SUMMARY successfully created.',)]

In [ ]:
%%sql
COMMIT;

 * postgresql://admin:***@default-workgroup.536942275221.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql

SELECT * FROM analytics.generation_output_summary
ORDER BY year DESC;

 * snowflake://yonggu:***@npygtrw-jn32477/DEV
21 rows affected.

[('2022', 168049, 224773, 1935, 6904, 323305, 6495, 508),
 ('2021', 150695, 208631, 1764, 16010, 327186, 5004, 554),
 ('2020', 152760, 221153, 2462, 15543, 324986, 5898, 134),
 ('2019', 138901, 233360, 2557, 29216, 302000, 0, 4095),
 ('2018', 127194, 237434, 2630, 31033, 289171, 0, 2747),
 ('2017', 141406, 239997, 4575, 29408, 281828, 0, 2266),
 ('2016', 154387, 202105, 7829, 27223, 238064, 0, 2129),
 ('2015', 157412, 197213, 7759, 31140, 231114, 0, 1478),
 ('2014', 149893, 191178, 8405, 30731, 193907, 0, 2032),
 ('2013', 132447, 187620, 7885, 38018, 163848, 0, 3569),
 ('2012', 143598, 186373, 8618, 39041, 145685, 0, 3421),
 ('2011', 147778, 187906, 8375, 41929, 147477, 0, 4347),
 ('2010', 142090, 185721, 8334, 42946, 133193, 0, 3535),
 ('2009', 141255, 184740, 8449, 42940, 127520, 0, 2683),
 ('2008', 144797, 168042, 8492, 43540, 121282, 0, 2856),
 ('2007', 137422, 149506, 8478, 41972, 116390, 0, 3436),
 ('2006', 143270, 135762, 8242, 43164, 112752, 0, 2983),
 ('2005', 141533, 130825, 8209, 41978, 107228, 0, 2050),
 ('2004', 126093, 125272, 7911, 38702, 101437, 0, 2345),
 ('2003', 125410, 119498, 8991, 38683, 91089, 0, 2416),
 ('2002', 115238, 118869, 7973, 32948, 81785, 0, 1160)]

In [ ]:
%%sql
--판매금액 테이블 생성
CREATE OR REPLACE TABLE dev.raw_data.selling_price (
    year INT,
    housing BIGINT,
    general BIGINT,
    education BIGINT,
    industry BIGINT,
    agriculture BIGINT,
    streetlamp BIGINT,
    middle_of_the_night BIGINT,
    total BIGINT
);

 * snowflake://yonggu:***@npygtrw-jn32477/DEV
1 rows affected.

[('Table SELLING_PRICE successfully created.',)]

In [ ]:
%%sql
SHOW TABLES IN SCHEMA raw_data;

 * snowflake://yonggu:***@npygtrw-jn32477/DEV
14 rows affected.

[(datetime.datetime(2024, 5, 15, 7, 6, 56, 364000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'ECONOMY_KPI', 'DEV', 'RAW_DATA', 'TABLE', '', '', 21, 1536, 'ACCOUNTADMIN', '1', 'OFF', 'OFF', 'N', 'N', 'ROLE', 'N', None, 'N', 'N', 'N'),
 (datetime.datetime(2024, 5, 13, 0, 45, 36, 937000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'ELECTRIC_POWER_DEMAND', 'DEV', 'RAW_DATA', 'TABLE', '', '', 1112429, 20750336, 'ACCOUNTADMIN', '1', 'OFF', 'OFF', 'N', 'N', 'ROLE', 'N', None, 'N', 'N', 'N'),
 (datetime.datetime(2024, 5, 13, 23, 42, 59, 419000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'GENERATION_OUTPUT', 'DEV', 'RAW_DATA', 'TABLE', '', '', 268, 10752, 'ACCOUNTADMIN', '1', 'OFF', 'OFF', 'N', 'N', 'ROLE', 'N', None, 'N', 'N', 'N'),
 (datetime.datetime(2024, 5, 14, 22, 3, 58, 871000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'HUMIDITY', 'DEV', 'RAW_DATA', 'TABLE', '', '', 76700, 575488, 'ACCOUNTADMIN', '1', 'OFF', 'OFF', 'N', 'N', 'ROLE', 'N', None, 'N', 'N', 'N'),
 (datetime.datetime(2024, 5, 14, 23, 10, 43, 782000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'LOCAL_ORDER_TABLE', 'DEV', 'RAW_DATA', 'TABLE', '', '', 10, 1536, 'ACCOUNTADMIN', '1', 'OFF', 'OFF', 'N', 'N', 'ROLE', 'N', None, 'N', 'N', 'N'),
 (datetime.datetime(2024, 5, 10, 2, 13, 43, 168000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'NPS', 'DEV', 'RAW_DATA', 'TABLE', '', '', 157757, 1164800, 'ACCOUNTADMIN', '1', 'OFF', 'OFF', 'N', 'N', 'ROLE', 'N', None, 'N', 'N', 'N'),
 (datetime.datetime(2024, 5, 14, 22, 3, 59, 93000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'RAINFALL', 'DEV', 'RAW_DATA', 'TABLE', '', '', 76700, 290304, 'ACCOUNTADMIN', '1', 'OFF', 'OFF', 'N', 'N', 'ROLE', 'N', None, 'N', 'N', 'N'),
 (datetime.datetime(2024, 5, 14, 3, 29, 34, 352000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'SELLING_ELECTRICITY', 'DEV', 'RAW_DATA', 'TABLE', '', '', 21, 4608, 'ACCOUNTADMIN', '1', 'OFF', 'OFF', 'N', 'N', 'ROLE', 'N', None, 'N', 'N', 'N'),
 (datetime.datetime(2024, 5, 14, 0, 16, 20, 910000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'SELLING_PRICE', 'DEV', 'RAW_DATA', 'TABLE', '', '', 29, 4096, 'ACCOUNTADMIN', '1', 'OFF', 'OFF', 'N', 'N', 'ROLE', 'N', None, 'N', 'N', 'N'),
 (datetime.datetime(2024, 5, 8, 23, 11, 15, 147000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'SESSION_TIMESTAMP', 'DEV', 'RAW_DATA', 'TABLE', '', '', 101520, 3751424, 'ACCOUNTADMIN', '1', 'OFF', 'OFF', 'N', 'N', 'ROLE', 'N', None, 'N', 'N', 'N'),
 (datetime.datetime(2024, 5, 8, 23, 11, 14, 726000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'SESSION_TRANSACTION', 'DEV', 'RAW_DATA', 'TABLE', '', '', 996, 33280, 'ACCOUNTADMIN', '1', 'OFF', 'OFF', 'N', 'N', 'ROLE', 'N', None, 'N', 'N', 'N'),
 (datetime.datetime(2024, 5, 14, 22, 3, 59, 254000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'TEMPERATURE', 'DEV', 'RAW_DATA', 'TABLE', '', '', 76700, 443392, 'ACCOUNTADMIN', '1', 'OFF', 'OFF', 'N', 'N', 'ROLE', 'N', None, 'N', 'N', 'N'),
 (datetime.datetime(2024, 5, 8, 23, 11, 14, 958000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'USER_SESSION_CHANNEL', 'DEV', 'RAW_DATA', 'TABLE', '', '', 101520, 3403264, 'ACCOUNTADMIN', '1', 'OFF', 'OFF', 'N', 'N', 'ROLE', 'N', None, 'N', 'N', 'N'),
 (datetime.datetime(2024, 5, 15, 4, 36, 25, 814000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'WIND_SPEED', 'DEV', 'RAW_DATA', 'TABLE', '', '', 76700, 804352, 'ACCOUNTADMIN', '1', 'OFF', 'OFF', 'N', 'N', 'ROLE', 'N', None, 'N', 'N', 'N')]

In [ ]:
%%sql
--판매금액 벌크업데이트
COPY INTO dev.raw_data.selling_price
FROM 's3://yonggu-practice-bucket/project_2nd/jiwon_part/selling_price.csv'
credentials=(AWS_KEY_ID='{}' AWS_SECRET_KEY='{}')
FILE_FORMAT = (type='CSV' skip_header=1 FIELD_OPTIONALLY_ENCLOSED_BY='"');

 * snowflake://yonggu:***@npygtrw-jn32477/DEV
1 rows affected.

[('s3://yonggu-practice-bucket/project_2nd/jiwon_part/selling_price.csv', 'LOADED', 29, 29, 1, 0, None, None, None, None)]

In [ ]:
%%sql
SELECT * FROM dev.raw_data.selling_price;

 * snowflake://yonggu:***@npygtrw-jn32477/DEV
29 rows affected.

[(2022, 9826366412, 17692429103, 1012042827, 35127215030, 1218629359, 426407864, 726993690, 66030084285),
 (2021, 8723165593, 15358188585, 856494476, 30730573149, 946732375, 389133677, 667199674, 57671487528),
 (2020, 8232506704, 14955272361, 781516149, 29914726353, 921881230, 401011598, 711663815, 55918578210),
 (2019, 7623684703, 15147479418, 889053067, 30821348917, 901438826, 406828844, 766666517, 56556500292),
 (2018, 7790409259, 15198335856, 903498217, 31191485295, 877588497, 407555748, 848713533, 57217586406),
 (2017, 7437258827, 14515430182, 857124037, 30715446368, 820634504, 403630974, 864485918, 55614010810),
 (2016, 8270443259, 14164678060, 900914372, 29866595242, 786031602, 392456597, 906403930, 55287523060),
 (2015, 8116164990, 13526415520, 870691773, 29382565885, 742907237, 378803714, 946136976, 53963686067),
 (2014, 8066376737, 13073321416, 849078687, 29116998686, 686214233, 365234262, 986847399, 53144071420),
 (2013, 8359482143, 12466201558, 921824186, 26723313244, 630970913, 338753964, 1047827078, 50488373086),
 (2012, 8099666224, 11428849503, 855546883, 23959881861, 548102427, 312298567, 1033474501, 46237819965),
 (2011, 7621964092, 10118763673, 712750750, 20428280261, 479851320, 274238526, 1011202798, 40647051421),
 (2010, 7574768788, 9637137528, 650061294, 17830665027, 453201035, 250009506, 994227831, 37390071008),
 (2009, 6801453931, 8827082130, 540273405, 15270616921, 407448194, 226430707, 901714120, 32975019408),
 (2008, 6654217289, 8274672801, 454427465, 13477191102, 375930913, 206418500, 885900130, 30328758201),
 (2007, 6365005846, 8030374517, 409465882, 12584835586, 348729286, 199695515, 757883324, 28695989957),
 (2006, 6163640653, 7618539340, 371156624, 11335905205, 327995997, 184370077, 651095341, 26652703238),
 (2005, 5767493514, 7020625358, 383467897, 10540234952, 304919304, 168727452, 567168867, 24752637345),
 (2004, 5466721140, 6535016625, 336037327, 10011334566, 283879821, 154649377, 489014415, 23276653272),
 (2003, 5020911856, 6198741052, 302414533, 9518540970, 267090280, 144463055, 473414752, 21925576497),
 (2002, 4793300235, 5996351593, 268118671, 9084046914, 273119653, 137459416, 390930589, 20943327071),
 (2001, 4498641441, 5682562611, 244808358, 8750975777, 267219697, 127940937, 289236462, 19861385283),
 (2000, 4091828987, 5057981418, 206040237, 8008200803, 234581320, 115971626, 167579750, 17882184141),
 (1999, 3621966258, 4249567188, 167756811, 6906745118, 207423596, 98206287, 83179358, 15334844616),
 (1998, 3366301295, 3840404739, 141862601, 6274861948, 182953372, 89472284, 48936822, 13944793061),
 (1997, 3231024101, 3457978066, 116216301, 6054278141, 166669552, 77640901, 0, 13103807061),
 (1996, 2921082494, 2881930648, 93495435, 5382673428, 147029920, 67635634, 0, 11493847557),
 (1995, 2620217437, 2377626839, 76733640, 4746529562, 124490731, 59380811, 0, 10004979019),
 (1994, 2467970639, 1965482909, 65424889, 4168804723, 105108757, 51328723, 0, 8824120639)]

In [ ]:
%%sql
-- [최종 테이블]
-- 판매 금액 분석 테이블 만들기
-- analytics.selling_price_summary
-- 2002년 ~ 2022년 데이터만 추출(시각화)
CREATE OR REPLACE TABLE dev.analytics.selling_price_summary AS
SELECT *
FROM raw_data.selling_price
WHERE year BETWEEN 2002 AND 2022
ORDER BY year DESC;

 * snowflake://yonggu:***@npygtrw-jn32477/DEV
1 rows affected.

[('Table SELLING_PRICE_SUMMARY successfully created.',)]

In [ ]:
%%sql
--[판매금액-최종테이블]]
SELECT * FROM analytics.selling_price_summary
ORDER BY year DESC;

 * snowflake://yonggu:***@npygtrw-jn32477/DEV
21 rows affected.

[(2022, 9826366412, 17692429103, 1012042827, 35127215030, 1218629359, 426407864, 726993690, 66030084285),
 (2021, 8723165593, 15358188585, 856494476, 30730573149, 946732375, 389133677, 667199674, 57671487528),
 (2020, 8232506704, 14955272361, 781516149, 29914726353, 921881230, 401011598, 711663815, 55918578210),
 (2019, 7623684703, 15147479418, 889053067, 30821348917, 901438826, 406828844, 766666517, 56556500292),
 (2018, 7790409259, 15198335856, 903498217, 31191485295, 877588497, 407555748, 848713533, 57217586406),
 (2017, 7437258827, 14515430182, 857124037, 30715446368, 820634504, 403630974, 864485918, 55614010810),
 (2016, 8270443259, 14164678060, 900914372, 29866595242, 786031602, 392456597, 906403930, 55287523060),
 (2015, 8116164990, 13526415520, 870691773, 29382565885, 742907237, 378803714, 946136976, 53963686067),
 (2014, 8066376737, 13073321416, 849078687, 29116998686, 686214233, 365234262, 986847399, 53144071420),
 (2013, 8359482143, 12466201558, 921824186, 26723313244, 630970913, 338753964, 1047827078, 50488373086),
 (2012, 8099666224, 11428849503, 855546883, 23959881861, 548102427, 312298567, 1033474501, 46237819965),
 (2011, 7621964092, 10118763673, 712750750, 20428280261, 479851320, 274238526, 1011202798, 40647051421),
 (2010, 7574768788, 9637137528, 650061294, 17830665027, 453201035, 250009506, 994227831, 37390071008),
 (2009, 6801453931, 8827082130, 540273405, 15270616921, 407448194, 226430707, 901714120, 32975019408),
 (2008, 6654217289, 8274672801, 454427465, 13477191102, 375930913, 206418500, 885900130, 30328758201),
 (2007, 6365005846, 8030374517, 409465882, 12584835586, 348729286, 199695515, 757883324, 28695989957),
 (2006, 6163640653, 7618539340, 371156624, 11335905205, 327995997, 184370077, 651095341, 26652703238),
 (2005, 5767493514, 7020625358, 383467897, 10540234952, 304919304, 168727452, 567168867, 24752637345),
 (2004, 5466721140, 6535016625, 336037327, 10011334566, 283879821, 154649377, 489014415, 23276653272),
 (2003, 5020911856, 6198741052, 302414533, 9518540970, 267090280, 144463055, 473414752, 21925576497),
 (2002, 4793300235, 5996351593, 268118671, 9084046914, 273119653, 137459416, 390930589, 20943327071)]